<ion-header mode="ios" class="customHeader">
  <ion-toolbar color="secondary" class="smallPadding" mode="ios">
    <ion-title>Create Meeting</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="customBackground createMeetingPage">
  <ion-card color="light">
    <ion-row class="ion-padding-start ion-padding-top" *ngIf="!createMeeting">
      <ion-col size="12">
        <ion-item color="light" class="ion-no-padding ion-margin-bottom" mode="ios">
          <ion-label position="stacked" mode="ios" mode="ios">Select Participants</ion-label>
          <ion-select okText="Okay" class="setBorder" cancelText="Dismiss" mode="ios" name="event">
            <ion-select-option *ngFor="let eventData of eventListByCompanyData?.events" [value]="eventData?.id">
              {{eventData?.value}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-button fill="outline" shape="round" (click)="closeModal()">
          Cancel
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button fill="outline" shape="round" (click)="setMeetingData()">
          Next
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-start ion-padding-top" *ngIf="createMeeting">
      <ion-col size="12">
        <ion-item color="light" class="ion-no-padding ion-margin-bottom" mode="ios">
          <ion-icon slot="start" name="calendar" color="dark"></ion-icon>
          <ion-label position="stacked" mode="ios">Picker in menu</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" class="setBorder">
          </ion-datetime>
        </ion-item>

        <ion-item color="light" class="ion-no-padding ion-margin-bottom" mode="ios">
          <ion-icon slot="start" name="time" color="dark"></ion-icon>
          <ion-label position="stacked" mode="ios">Interval</ion-label>
          <ion-select okText="Okay" class="setBorder" cancelText="Dismiss" mode="ios">
            <ion-select-option value="06:30:00 - 07:00:00">06:30:00 - 07:00:00</ion-select-option>
            <ion-select-option value="07:00:00 - 07:30:00">07:00:00 - 07:30:00</ion-select-option>
            <ion-select-option value="07:30:00 - 08:00:00">07:30:00 - 08:00:00</ion-select-option>
            <ion-select-option value="08:00:00 - 08:30:00">08:00:00 - 08:30:00</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item color="light" class="ion-no-padding ion-margin-bottom" mode="ios">
          <ion-icon slot="start" src="../../../assets/icon/location-outline.svg"></ion-icon>
          <ion-label position="stacked" mode="ios">Table</ion-label>
          <ion-select okText="Okay" class="setBorder" cancelText="Dismiss" mode="ios">
            <ion-select-option value="">No data available</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-button fill="outline" shape="round" (click)="closeModal()">
          <ion-icon name="close" slot="icon-only" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button fill="outline" shape="round" (click)="bookMeeting('')">
          <ion-icon name="checkmark" slot="icon-only" size="large"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>