.notificationPage {
    .notificationList{
        .setSmallSizeFont{
            font-size: 12px;
        }
    }
}

.SetImagesSize {
    width: 40px;
    height: 40px;
    border: 2px solid var(--ion-color-light);
}