<ion-header mode="ios">
  <ion-toolbar color="secondary" mode="ios">
    <ion-title>More</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="customBackground morePage">
  <ion-list class="ion-margin moreList">
    <ion-item lines="none" class="smallPadding">
      <ion-img src="assets/icon/ic_sponsors.svg"></ion-img>
      <ion-label class="ion-padding-start setFontSize">Sponsors</ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="ion-margin moreList">
    <ion-item lines="none" class="smallPadding">
      <ion-img src="assets/icon/ic_contact_organizer.svg"></ion-img>
      <ion-label class="ion-padding-start setFontSize">Contact Organizer</ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="ion-margin moreList">
    <ion-item lines="none" class="smallPadding">
      <ion-img src="assets/icon/ic_conference_guide.svg"></ion-img>
      <ion-label class="ion-padding-start setFontSize">Conference Guide</ion-label>
    </ion-item>
  </ion-list>
</ion-content>