<app-common-header name="Setting"></app-common-header>
<ion-content class="settingPage customBackground">
  <ion-card color="light" class="loginCard">
    <ion-item class="ion-no-padding ion-text-center">
      <ion-label class="setTitle">PUSH NOTIFICATION</ion-label>
    </ion-item>

    <ion-list>
      <ion-item class="ion-no-padding ion-margin-horizontal">
        <ion-label>From People I Follow </ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-horizontal">
        <ion-label>To My Followers </ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-horizontal">
        <ion-label>From Upcomming Sessions</ion-label>
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-item class="ion-margin-top ion-no-padding ion-text-center">
      <ion-label class="setTitle">HELP & FEEDBACK</ion-label>
    </ion-item>
    <ion-list>
      <ion-item class="ion-no-padding ion-margin-horizontal" detail="true">
        <ion-label>Acknowledgement </ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-horizontal" detail="true">
        <ion-label>About This App </ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-horizontal" detail="true">
        <ion-label>Term Of Service</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-horizontal" detail="true">
        <ion-label>Privacy And Data Processing Policy</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-horizontal" detail="true">
        <ion-label>Event Privacy Policy</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-horizontal">
        <ion-label>Refresh App Data</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding ion-margin-horizontal" lines="none" (click)="logout()">
        <ion-label>Switch Event / Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>