<ion-content class="forgotPasswordPage customBackground">
  <ion-card color="light" class="forgotPasswordCard">
    <ion-row class="ion-padding">
      <ion-col size="4">
        <ion-button fill="clear" routerLink="/login" routerDirection="root" class="setmargin">
          <ion-icon slot="icon-only" name="arrow-back" mode="md"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8">
        <h4 class="ion-no-margin setCenter">
          <ion-text color="primary">Forgot Password</ion-text>
        </h4>
      </ion-col>
      <ion-col size="12">
        <form [formGroup]="forgotPasswordForm">
          <ion-item color="light" lines="none" class="ion-no-padding removeSpaces" mode="ios">
            <ion-label position="stacked" mode="ios">EMAIL
              <ion-text color="danger"> * </ion-text>
            </ion-label>
            <ion-input type="text" name="email" class="setBorder" formControlName="email"
              placeholder="Enter EMAIL here">
            </ion-input>
          </ion-item>
          <div
            *ngIf="!forgotPasswordForm.controls['email'].valid && (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched)">
            <div class="ion-margin-left" *ngIf="forgotPasswordForm.controls['email'].hasError('email')">
              <ion-text color="danger">Enter valid EMAIL</ion-text>
            </div>
          </div>
        </form>
      </ion-col>
      <ion-col size="12" class="ion-padding-top">
        <ion-button type="submit" color="primary" shape="round" expand="block" mode="ios"
          [disabled]="!forgotPasswordForm.valid" (click)="submitForm(forgotPasswordForm)">
          Forgot Password
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>