<ion-header mode="ios" class="customHeader">
  <ion-toolbar color="secondary" class="smallPadding" mode="ios">
    <ion-title>{{pageName}} Details</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="customBackground sponsor_company_DetailsPage">
  <ion-card color="light" *ngIf="pageName == 'Sponsor'">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h4>{{modalData?.company_name}}</h4>
      </ion-col>
      <ion-col size="12">
        <ion-img [src]="modalData?.logo_path ? modalData?.logo_path : 'assets/images/company-placeholder.jpg'"
          (ionError)="errorImage($event)" [alt]="modalData?.company_name"></ion-img>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card color="light" *ngIf="pageName == 'Company'">
    <ion-row>
      <ion-col size="12">
        <ion-img [src]="modalData?.logo_url ? modalData?.logo_url : 'assets/images/company-placeholder.jpg'"
          (ionError)="errorImage($event)" [alt]="modalData?.company_name"></ion-img>
      </ion-col>
      <ion-col size="12">
        <h4>{{modalData?.company_name}}</h4>
        <h5 class="ion-no-margin">{{modalData?.company_description}}</h5>
        <p>
          <strong>Email: </strong> <a href="mailto:{{modalData?.emai}}">{{modalData?.email}}</a>
        </p>
        <p>
          <strong>Field:</strong> {{modalData?.field}}
        </p>
        <p>
          <strong>Employee range:</strong> {{modalData?.employee_range}}
        </p>
        <p *ngIf="modalData?.investment_stage != null">
          <strong> Investment Stage:</strong> {{modalData?.investment_stage}}
        </p>
        <p>
          <strong>Funding Stage: </strong> {{modalData?.funding_stage}}
        </p>
        <p>
          <strong>Product Stage:</strong> {{modalData?.product_stage}}
        </p>
        <p *ngIf="modalData?.min_investment != null">
          <strong>Minimum Investment: </strong> {{modalData?.min_investment}}
        </p>
        <p *ngIf="modalData?.max_investment != null">
          <strong> Maximum Investment:</strong> {{modalData?.max_investment}}
        </p>
        <p>
          <strong>Address:</strong> {{modalData?.address}}
        </p>
        <p>
          <strong> Mobile Number: </strong> {{modalData?.mobile}}
        </p>
        <p>
          <strong> Website:</strong> <a href="{{modalData?.website}}" target="_self">{{modalData?.website}}</a>
        </p>
      </ion-col>
      <ion-col size="12">
        <!-- <p class="ion-text-center">
          <ion-text color="primary">Employees</ion-text>
        </p>
        <ion-item color="light" lines="none" class="ion-no-padding" *ngFor="let userData of modalData?.users">
          <ion-avatar slot="start" class="setIconImage">
            <ion-img [src]="userData?.image_url" (ionError)="errorImage($event)"></ion-img>
          </ion-avatar>
          <ion-label>{{userData}}</ion-label>
        </ion-item> -->
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>