.createProfileIntro {
    --background: url(../../../assets/images/background_login.png) 0 0/100% 100% no-repeat;

    .loginCard {
        top: 15%;

        .userProfile {
            width: 100px;
            height: 100px;
            display: inline-block;
        }
        .setFontSize{
            font-size: 14px;
            vertical-align: text-top;
        }
    }

}