.createProfileIntro {
    .loginCard {
        top: 15%;

        .userProfile {
            width: 100px;
            height: 100px;
            display: inline-block;
        }

        .setFontSize {
            font-size: 14px;
            vertical-align: text-top;
        }
    }

}