<app-common-header name="Companies"></app-common-header>

<ion-content class="customBackground companiesPage">
  <ion-card color="light" class="companyCard">
    <ion-card-header class="ion-no-padding ion-padding-horizontal ion-padding-top companycardHeader">
      <ion-row>
        <ion-col size="4">
          <img src="assets/images/google.jpg" class="setLogo"/>
        </ion-col>
        <ion-col size="8" class="ion-text-right">
          <ion-icon src="assets/icon/facebook_icon.svg" size="large" class="ion-padding-end"></ion-icon>
          <ion-icon src="assets/icon/twitter_icon.svg" size="large" class="ion-padding-end"></ion-icon>
          <ion-icon src="assets/icon/web_icon.svg" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <hr>
    <ion-card-content class="ion-no-padding ion-padding-horizontal ion-padding-bottom companycardContent">
      <p class="ion-no-margin companyTitle"><ion-text color="primary">Nutritional Grown Solutions</ion-text></p>
      <p>
        Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. 
      </p>
    </ion-card-content>
    <ion-item color="light" lines="none" class="setBordertop companycardFooter">
      <ion-label><ion-text color="medium" class="compnayDesc">Company CEO</ion-text>
        <p><ion-text color="primary" class="nameDesc">Lori Chmura</ion-text></p>
      </ion-label>
      <ion-icon slot="end" name="mail" color="medium"></ion-icon>
      <ion-icon slot="end" name="call" color="medium"></ion-icon>
      <ion-icon slot="end" src="assets/icon/chatbox-outline.svg" color="medium"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card color="light" class="companyCard">
    <ion-card-header class="ion-no-padding ion-padding-horizontal ion-padding-top companycardHeader">
      <ion-row>
        <ion-col size="4">
          <img src="assets/images/google.jpg" class="setLogo"/>
        </ion-col>
        <ion-col size="8" class="ion-text-right">
          <ion-icon src="assets/icon/facebook_icon.svg" size="large" class="ion-padding-end"></ion-icon>
          <ion-icon src="assets/icon/twitter_icon.svg" size="large" class="ion-padding-end"></ion-icon>
          <ion-icon src="assets/icon/web_icon.svg" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <hr>
    <ion-card-content class="ion-no-padding ion-padding-horizontal ion-padding-bottom companycardContent">
      <p class="ion-no-margin companyTitle"><ion-text color="primary">Nutritional Grown Solutions</ion-text></p>
      <p>
        Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. 
      </p>
    </ion-card-content>
    <ion-item color="light" lines="none" class="setBordertop companycardFooter">
      <ion-label><ion-text color="medium" class="compnayDesc">Company CEO</ion-text>
        <p><ion-text color="primary" class="nameDesc">Lori Chmura</ion-text></p>
      </ion-label>
      <ion-icon slot="end" name="mail" color="medium"></ion-icon>
      <ion-icon slot="end" name="call" color="medium"></ion-icon>
      <ion-icon slot="end" src="assets/icon/chatbox-outline.svg" color="medium"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>