.loginPage {
  .loginCard {
    top: 15%;

    .setLogo {
      width: 50%;
      display: inline-block;
      vertical-align: middle;
    }

    .setBorder {
      border: 1px solid #1d5b8f;
      border-radius: 10px;
      --padding-start: 10px;
    }

    .removeSpaces {
      --inner-padding-end: 0px;
    }
  }

}