<ion-app>
  <ion-menu type="overlay" side="start" menuId="first" mode="ios" class="ionicMenu">
    <ion-header mode="ios">
      <ion-toolbar mode="ios" color="primary">
        <ion-row>
          <ion-col size="2">
            <ion-avatar class="ion-margin-start SetImagesSize">
              <img [src]="userData?.image_url ? userData?.image_url : 'assets/images/profile_photo_white.png'" />
            </ion-avatar>
          </ion-col>
          <ion-col size="10" class="ion-text-center">
            <p class="ion-no-margin marginTop">{{userData?.u_first_name}} {{userData?.u_last_name}}</p>
            <p class="ion-no-margin">{{userData?.u_email}} </p>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="ion-no-padding">
        <ion-menu-toggle mode="ios" menu="first" autoHide="false" *ngFor="let p of appPages">
          <ion-item lines="none" (click)="navigatePage(p)" color="primary">
            <ion-icon slot="start" [name]="p?.icon"></ion-icon>
            <ion-label>
              {{p?.title}}
              <ion-badge color="danger" class="setMiddle" *ngIf="p?.title == 'Notification'">11</ion-badge>
              <ion-badge color="danger" class="setMiddle" *ngIf="p?.title == 'Messages'">20</ion-badge>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer class="ion-padding-vertical ion-text-center" color="primary">
      Version 1.2.10
    </ion-footer>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>