<ion-header mode="ios" class="customHeader">
  <ion-toolbar color="secondary" class="smallPadding" mode="ios">
    <ion-buttons slot="start">
      <ion-avatar class="ion-margin-start SetImagesSize" (click)="presentPopover()">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-buttons>
    <ion-title>Sponsor</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="" mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="customBackground">
  <ion-card color="light" mode="md">
    <div class="ion-text-center">
      Gold Sponsors
    </div>
  </ion-card>
  <ion-card color="light" mode="md">
    <div class="ion-text-center">
      Silver Sponsors
    </div>
  </ion-card>
  <ion-card color="light" mode="md">
    <div class="ion-text-center">
      Bronze Sponsors
    </div>
    <ion-row>
      <ion-col size="6" class="ion-align-self-center">
        <img src="http://148.66.142.108:8081/media/images/2019/09/09/Supplyme_without_background.png" />
      </ion-col>
      <ion-col size="6" class="ion-align-self-center">
        <img src="http://148.66.142.108:8081/media/images/2019/09/10/Bemkomi_GSX5Jlo.png" />
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card color="light" mode="md">
    <div class="ion-text-center">
      Bronze Sponsors
    </div>
  </ion-card>
  <ion-card color="light" mode="md">
    <div class="ion-text-center">
      Financial Supporters
    </div>
  </ion-card>
  <ion-card color="light" mode="md">
    <div class="ion-text-center">
      Governmental Supporters
    </div>
  </ion-card>
  <ion-card color="light" mode="md">
    <div class="ion-text-center">
      Cooperations
    </div>
  </ion-card>
  <ion-card color="light" mode="md">
    <div class="ion-text-center">
      Media Coverage
    </div>
  </ion-card>
</ion-content>