<app-common-header name="Sponsor"></app-common-header>

<ion-content class="customBackground">

  <ion-segment [(ngModel)]="currentSponsorIndex" scrollable [value]="currentSponsorIndex" mode="md" color="light">
    <ion-segment-button [value]="i" *ngFor="let sponsor of totalSponsor?.data;let i = index" mode="md" color="light"
      (click)="selectedTab(i)">
      <ion-label>{{sponsor?.c_name}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card color="light" mode="md">
    <div *ngIf="totalSponsor?.data?.length !== 0; else showErrorMesage">
      <div *ngIf="sposorDataValue?.sponsors?.length !== 0; else showErrorMesage">
        <ion-row>
          <ion-col size="6" class="ion-align-self-center ion-text-center ion-padding" *ngFor="let data of sposorDataValue?.sponsors"
            (click)="openDetails(data)">
            <ion-img [src]="data?.logo_path ? data?.logo_path : 'assets/images/company-placeholder.jpg'"
              [alt]="data?.company_name" (ionError)="errorImage($event)"></ion-img>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <ng-template #showErrorMesage>
      <ion-row>
        <ion-col size="12" class="ion-align-self-center ion-text-center">
          <h4 class="ion-no-margin">
            No sponsors found.
          </h4>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-card>
</ion-content>