<ion-header mode="ios" class="customHeader">
  <ion-toolbar color="secondary" class="smallPadding" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title mode="md">{{getuserData?.userName}}</ion-title>
    <ion-buttons slot="end">
      <ion-avatar class="ion-margin-start SetImagesSize">
        <img [src]="getuserData?.img">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="customBackground chatPage main">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="chat-box" id="chat-parent">
    <div class="message-area" id="chat-container">
      <div class="message" *ngFor="let message of conversation" [ngClass]="getClasses(message?.type)">
        <p>{{message?.text}} <br /><span class="setFontRight">28-02-2020 22:00</span></p>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer translucent>
  <ion-row class="input-position">
    <ion-col size="9">
      <ion-input class="input restrict ion-padding-start" type="text" placeholder="Type a message" [(ngModel)]="input">
      </ion-input>
    </ion-col>
    <ion-col size="3">
      <ion-button size="small" class="send-button" (click)="send()">
        <ion-text color="light">SEND</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>