<ion-header mode="ios" class="customHeader">
  <ion-toolbar color="secondary" class="smallPadding" mode="ios" *ngIf="!showSearch">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/images/agenda_logo.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="searchCompany()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar showCancelButton="always" spellcheck="true" animated placeholder="Search user" *ngIf="showSearch"
    (ionCancel)="searchCompany()" mode="ios" [(ngModel)]="searchVal"></ion-searchbar>
</ion-header>

<ion-content class="customBackground homePage">
  <div class="banner">
    <img src="../../../assets/images/logoPage_allAttendees.png" alt="Banner" />
  </div>
  <ion-card class="ion-text-center" *ngIf="attendeesList?.length <= 0; else showattendeesList">
    <h4>
      <ion-text color="light">No data found</ion-text>
    </h4>
  </ion-card>
  <ng-template #showattendeesList>
    <ion-card color="light" class="companyCard" *ngFor="let data of attendeesList | search:'u_first_name': searchVal">
      <ion-item color="light" lines="none" class="setBorderbottom">
        <ion-avatar slot="start">
          <ion-img [src]="data?.organization?.logo_url ? data?.organization?.logo_url : '../../../assets/images/profile_photo_icon.png'"
            [alt]="data?.u_first_name" class="customIcon" (ionError)="errorImage($event)"></ion-img>
        </ion-avatar>
        <ion-label>{{data?.u_first_name}} {{data?.u_last_name}}
          <p *ngIf="data?.organization !== null">{{data?.organization.company_name}}</p>
        </ion-label>
      </ion-item>

      <ion-card-content class="setcardContent ion-no-padding">
        {{data?.u_about_us}}
      </ion-card-content>
      <ion-item color="light" lines="none" class="setBordertop">
        <ion-button size="small" slot="start" *ngIf="data?.u_headline">
          {{data?.u_headline}}
        </ion-button>
        <ion-icon slot="end" name="add-circle-outline" color="medium" (click)="createnewList(data)"></ion-icon>
        <ion-icon slot="end" src="assets/icon/chatbox-outline.svg" color="medium" (click)="gotoChatList(data)">
        </ion-icon>
      </ion-item>
    </ion-card>
  </ng-template>
</ion-content>
<ion-footer>
  <ion-tab-bar slot="bottom" color="primary" class="customTabs">
    <ion-tab-button tab="tab1" (click)="navigationTab('/tabs/tab1')">
      <ion-img src="assets/images/agenda_icon.png" class="setImagesSize"></ion-img>
      <ion-label class="setFontSize">Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="navigationTab('/tabs/tab2')">
      <ion-img src="assets/images/conference_book_icon.png" class="setImagesSize"></ion-img>
      <ion-label class="setFontSize">Conference Book</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" (click)="navigationTab('/tabs/tab3')">
      <ion-img src="assets/images/shedule_icon.png" class="setImagesSize"></ion-img>
      <ion-label class="setFontSize">My Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" (click)="navigationTab('/tabs/tab4')">
      <ion-img src="assets/images/companies_icon.png" class="setImagesSize"></ion-img>
      <ion-label class="setFontSize">Companies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" (click)="navigationTab('/tabs/tab5')">
      <ion-img src="assets/images/more_icon.png" class="setImagesSize"></ion-img>
      <ion-label class="setFontSize">More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>