.homePage {
    .banner {
        position: relative;
    }

    .banner:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .6);
        z-index: 1;
    }

    .companyCard {
        .setBorderbottom {
            border-bottom: 1px solid var(--ion-color-medium);
        }

        .setBordertop {
            border-top: 1px solid var(--ion-color-medium);
        }

        .setcardContent {
            padding: 10px;
        }
    }
}

.tab-selected {
    border-top: 3px solid var(--ion-color-danger);
}

.customTabs {
    .setImagesSize {
        width: 20px;
        height: auto;
    }

    .setFontSize {
        font-size: 10px;
        margin-top: 5px;
    }
}