<ion-header mode="ios" class="customHeader">
  <ion-toolbar color="secondary" class="smallPadding" mode="ios">
    <ion-buttons slot="start">
      <ion-avatar class="ion-margin-start SetImagesSize" (click)="presentPopover()">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-buttons>
    <ion-title>My Schedule</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home" routerDirection="root" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="customBackground mySchedulePage">
  <ion-row class="ion-no-padding">
    <ion-col size="12" class="ion-no-padding">
      <ion-item mode="md">
        <p class="smallPaddingRight">09:30</p>
        <ion-label>Meeting 01
          <p>Lorem ipsum dolor sit amet</p>
        </ion-label>
        <ion-icon color="medium" name="create" size="large"  mode="ios" class="smallPaddingRight"></ion-icon>
        <ion-icon color="danger" name="close" size="large"></ion-icon>
      </ion-item>
    </ion-col>
    <ion-col size="12" class="ion-no-padding">
      <ion-item mode="md">
        <p class="smallPaddingRight">10:30</p>
        <ion-label>Meeting 01
          <p>Lorem ipsum dolor sit amet</p>
        </ion-label>
        <ion-icon color="medium" name="create" size="large"  mode="ios" class="smallPaddingRight"></ion-icon>
        <ion-icon color="danger" name="close" size="large"></ion-icon>
      </ion-item>
    </ion-col>
    <ion-col size="12" class="ion-no-padding">
      <ion-item mode="md">
        <p class="smallPaddingRight">10:30</p>
        <ion-label>Meeting 01
          <p>Lorem ipsum dolor sit amet</p>
        </ion-label>
        <ion-icon color="medium" name="create" size="large"  mode="ios" class="smallPaddingRight"></ion-icon>
        <ion-icon color="danger" name="close" size="large"></ion-icon>
      </ion-item>
    </ion-col>
    <ion-col size="12" class="ion-no-padding">
      <ion-item mode="md">
        <p class="smallPaddingRight">10:30</p>
        <ion-label>Meeting 01
          <p>Lorem ipsum dolor sit amet</p>
        </ion-label>
        <ion-icon color="medium" name="create" size="large"  mode="ios" class="smallPaddingRight"></ion-icon>
        <ion-icon color="danger" name="close" size="large"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>