<ion-content class="setPasswordPage customBackground">
  <ion-card color="light" class="setPasswordCard">
    <ion-row class="ion-padding">
      <ion-col size="4" *ngIf="!showOldPassword">
        <ion-button fill="clear" routerLink="/login" routerDirection="root" class="setmargin">
          <ion-icon slot="icon-only" name="arrow-back" mode="md"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col [size]="showOldPassword == true ? '12' : '8'" [ngClass]="{'ion-text-center': showOldPassword == true}">
        <h4 class="ion-no-margin setCenter">
          <ion-text color="primary">{{showOTP == true ? 'Set OTP' : 'Set Password'}}</ion-text>
        </h4>
      </ion-col>
      <ion-col size="12" *ngIf="showOTP">
        <ion-item color="light" lines="none" class="ion-no-padding removeSpaces" mode="ios">
          <ion-label position="stacked" mode="ios">OTP
            <ion-text color="danger"> * </ion-text>
          </ion-label>
          <ion-input type="number" name="otp" class="setBorder ion-text-center" #otp_value [(ngModel)]="otp"
            placeholder="Enter 6 digits OTP here">
          </ion-input>
        </ion-item>
        <ion-col size="12" class="ion-padding-top">
          <ion-button type="submit" color="primary" shape="round" expand="block"
            [disabled]="otp_value?.value?.length != '6'" mode="ios" (click)="checkOTP()">
            Submit
          </ion-button>
        </ion-col>
      </ion-col>
      <ion-col size="12" *ngIf="!showOTP">
        <form [formGroup]="setPasswordForm">
          <ion-item color="light" *ngIf="showOldPassword" lines="none" class="ion-no-padding removeSpaces" mode="ios">
            <ion-label position="stacked" mode="ios">OLD PASSWORD
              <ion-text color="danger"> * </ion-text>
            </ion-label>
            <ion-input type="password" name="u_oldpassword" class="setBorder" formControlName="u_oldpassword"
              placeholder="Enter OLD PASSWORD here">
            </ion-input>
          </ion-item>
          <div
            *ngIf="!setPasswordForm.controls['u_oldpassword'].valid && (setPasswordForm.controls['u_oldpassword'].dirty || setPasswordForm.controls['u_oldpassword'].touched)">
            <div class="ion-margin-left" *ngIf="setPasswordForm.controls['u_oldpassword'].hasError('required')">
              <ion-text color="danger">OLD PASSWORD is required</ion-text>
            </div>
            <div class="ion-margin-left" *ngIf="setPasswordForm.controls['u_oldpassword'].hasError('minlength')">
              <ion-text color="danger">Enter OLD PASSWORD at least 6 character</ion-text>
            </div>
          </div>

          <ion-item color="light" lines="none" class="ion-no-padding removeSpaces" mode="ios">
            <ion-label position="stacked" mode="ios">NEW PASSWORD
              <ion-text color="danger"> * </ion-text>
            </ion-label>
            <ion-input type="password" name="u_newpassword" class="setBorder" formControlName="u_newpassword"
              placeholder="Enter NEW PASSWORD here">
            </ion-input>
          </ion-item>
          <div
            *ngIf="!setPasswordForm.controls['u_newpassword'].valid && (setPasswordForm.controls['u_newpassword'].dirty || setPasswordForm.controls['u_newpassword'].touched)">
            <div class="ion-margin-left" *ngIf="setPasswordForm.controls['u_newpassword'].hasError('required')">
              <ion-text color="danger">NEW PASSWORD is required</ion-text>
            </div>
            <div class="ion-margin-left" *ngIf="setPasswordForm.controls['u_newpassword'].hasError('minlength')">
              <ion-text color="danger">Enter NEW PASSWORD at least 6 character</ion-text>
            </div>
          </div>

          <ion-item color="light" lines="none" class="ion-no-padding removeSpaces" mode="ios">
            <ion-label position="stacked" mode="ios">CONFIRM PASSWORD
              <ion-text color="danger"> * </ion-text>
            </ion-label>
            <ion-input type="password" name="u_confirmpassword" class="setBorder" formControlName="u_confirmpassword"
              placeholder="Enter CONFIRM PASSWORD here">
            </ion-input>
          </ion-item>
          <div
            *ngIf="!setPasswordForm.controls['u_confirmpassword'].valid && (setPasswordForm.controls['u_confirmpassword'].dirty || setPasswordForm.controls['u_confirmpassword'].touched)">
            <div class="ion-margin-left" *ngIf="setPasswordForm.controls['u_confirmpassword'].hasError('required')">
              <ion-text color="danger">CONFIRM PASSWORD is required</ion-text>
            </div>
          </div>
          <div class="ion-margin-left" *ngIf="setPasswordForm.hasError('passwordNotMatch')">
            <ion-text color="danger">NEW PASSWORD and CONFIRM PASSWORD fields should match</ion-text>
          </div>
        </form>
        <ion-col size="12" class="ion-padding-top" *ngIf="showOldPassword">
          <ion-button type="submit" color="primary" shape="round" expand="block" mode="ios" (click)="backToPage()">
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="12" class="ion-padding-top" >
          <ion-button type="submit" color="primary" shape="round" expand="block" mode="ios"
            [disabled]="!setPasswordForm.valid" (click)="submitForm(setPasswordForm)">
            Submit
          </ion-button>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>