<ion-header mode="ios" class="customHeader">
  <ion-toolbar color="secondary" class="smallPadding" mode="ios">
    <ion-buttons slot="start">
      <ion-avatar class="ion-margin-start SetImagesSize" (click)="presentPopover()">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-buttons>
    <ion-title>Agenda</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home" routerDirection="root" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="customBackground">
  <!-- <ion-card color="light" class="companyCard">
    <ion-item color="light" lines="none" class="setBorderbottom">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>My Profile
        <p>@johndoe 49</p>
      </ion-label>
    </ion-item>

    <ion-card-content class="setcardContent ion-no-padding">
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
    <ion-item color="light" lines="none" class="setBordertop">
      <ion-button size="small" slot="start">
        Entrepreneur
      </ion-button>
      <ion-icon slot="end" name="add-circle"></ion-icon>
      <ion-icon slot="end" name="chatbubbles"></ion-icon>
    </ion-item>

  </ion-card>

  <ion-card color="light" class="companyCard">
    <ion-item color="light" lines="none" class="setBorderbottom">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>My Profile
        <p>@johndoe 49</p>
      </ion-label>
    </ion-item>

    <ion-card-content class="setcardContent ion-no-padding">
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
    <ion-item color="light" lines="none" class="setBordertop">
      <ion-button size="small" slot="start" color="danger">
        Investor
      </ion-button>
      <ion-icon slot="end" name="add-circle"></ion-icon>
      <ion-icon slot="end" name="chatbubbles"></ion-icon>
    </ion-item>

  </ion-card> -->
</ion-content>